
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/source/img/carouselTest.jpg " alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Doğal Görünümlü Saçlara Merhaba</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Yüksek Kaliteli Protez Saç Sistemi </h1>
                        @Html.ActionLink("Randevunuzu Oluşturun","Contact","Home",null,new {@class = "btn btn-secondary py-md-3 px-md-5 me-3 animated slideInLeft" })
                        <a href="https://wa.me/905301347577" id="mainPageBtn" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Canlı Destek</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/source/img/carouselTest.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Saçınızla Yeniden Bağ Kurun</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Doğallığın Adı: Hair House Suadiye</h1>
                        @Html.ActionLink("Randevunuzu Oluşturun","Contact","Home",null,new {@class = "btn btn-secondary py-md-3 px-md-5 me-3 animated slideInLeft" })
                        <a href="https://wa.me/905301347577" id="mainPageBtn" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Canlı Destek</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- Banner Start -->
<div class="container-fluid banner mb-5" style="background-color:#383e42">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 300px;">
                    <h3 class="text-white mb-3">Çalışma Saatlerimiz</h3>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Pzt - Cuma</h6>
                        <p class="mb-0"> 9:00 - 19:00</p>
                    </div>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Cumartesi</h6>
                        <p class="mb-0">9:00 - 19:00</p>
                    </div>     
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Pazar</h6>
                        <p class="mb-0">Kapalı</p>
                    </div>
                    <a class="btn btn-light" href="@Url.Action("Contact","Home")">Bize Ulaşın</a>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-dark d-flex flex-column p-5" style="height: 300px;">
                    <h3 class="text-white mb-3">Canlı Destek</h3>
                    <a style="margin-top:120px" class="btn btn-light" href="https://wa.me/905301347577">Whatsapp</a>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-secondary d-flex flex-column p-5" style="height: 300px;">
                    <h3 class="text-white mb-3">Randevu Alın</h3>
                    <p class="text-white">Mesai Saatleri İçerisinde Bize Ulaşabilceğiniz Telefon Numaramız</p>
                    <h2 class="text-white mb-0">+90 530 134 75 77</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Start -->
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 style="color:white" class="position-relative d-inline-block text-uppercase">Hakkımızda</h5>
                    <h1 style="color:#deba57" class="display-5 mb-0">Güvenilir Hizmet</h1>
                </div>
                <h4 style="color:#a1ada4 !important" class="text-body fst-italic mb-4">İstanbul'un en seçkin semtlerinden biri olan Suadiye'de bulunan Suadiye Hair House, saç protez ve saç sağlığı alanında yıllardır hizmet vermektedir.</h4>
                <p style="color:white" class="mb-4">
                    Modern teknoloji bakım yöntemlerini birleştirerek, müşterilerimize en iyi hizmeti sunmaktayız. Deneyimli ve uzman ekibimiz, saç dökülmesi, incelmesi saç kıran ve alopesi bir sebepten dolayı saç kaybı yaşayan bireyler için özel çözümler üretmektedir. Saç protezlerimiz, doğal görünümlü ve rahat bir kullanım sunar. Her bireyin ihtiyaçlarına özel olarak tasarladığımız saç protezleri, yaşam kalitenizi artırmak için mükemmel bir seçenektir. Müşteri memnuniyetini birinci önceliğimiz olarak görmekteyiz. Bu nedenle Suadiye Hair House olarak her zaman en iyi ürünleri, en yeni teknolojileri ve en kaliteli hizmeti sunma sözü veriyoruz. Saçınızın sağlığı ve memnuniyeti için en doğru adreste olduğunuzu bilmenizi isteriz. Saçınıza yeni bir başlangıç yapmak, doğal ve canlı saçlara kavuşmak için Suadiye Hair House'a bekleriz!
                </p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Güvenilir Hizmet</h5>
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle me-3"></i>Profesyonel Ekip</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Destek</h5>
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Kaliteli Çalışma </h5>
                    </div>
                </div>
                @Html.ActionLink("Bize Ulaşın","Contact","Home",null,new {@class = "btn btn-primary py-3 px-5 mt-4 wow zoomIn" })
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/source/img/logoTheme.remini-enhanced.png" style="object-fit: contain;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Appointment Start -->
<div style="background-color:#deba57!important" class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h1 class="display-5 text-white mb-4">İletişim Bilgilerimiz</h1>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://www.instagram.com/suadiyehairhouse"><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://wa.me/905301347577"><i class="fab fa-whatsapp fw-normal"></i></a>

                </div>
            </div>
            <div style="background-color:#deba57" class="col-lg-6">
                <div style="background-color:#deba57!important" class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">Ofis Adresi</h5>
                            <span>Suadiye, Ayşeçavuş Cd No : 16, 34740 Kadıköy/İstanbul</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">Mail Adresi</h5>
                            <span>info@suadiyehairhouse.com.tr</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">Telefon</h5>
                            <span>+90 530 134 75 77</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 style="color:white!important" class="position-relative d-inline-block text-primary text-uppercase">Neden Protez ?</h5>
                    <h1 style="color:#deba57" class="display-5 mb-0">Saç Protezinin Uygulanışı</h1>
                </div>
                <h4 style="color:#a1ada4 !important" class="text-body fst-italic mb-4">
                    Saç protezi, saç kaybını maskelemek veya saç dökülmesinden etkilenen bölgeleri kapatmak için tasarlanmış özel hazırlanmış saç üniteleridir.
                </h4>
                <p style="color:white" class="mb-4">Uygulama süreci, kişinin kafa yapısına uygun bir bazın seçilmesiyle başlar. Bu baz, genellikle silikon, monofilament veya ince deri tabakaları gibi farklı materyallerden yapılmış olabilir. Seçilen baz üzerine doğal ya da sentetik saçlar tek tek eklenir. Kullanıcının saç rengi, yoğunluğu ve stili dikkate alınarak tasarlanan protez, özel yapıştırıcılar veya klipsler yardımıyla kişinin kafa derisine tutturulur. Bu uygulama, doğru bir şekilde yapıldığında, saç protezinin doğal saç gibi görünmesini ve hissedilmesini sağlar.</p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        <h5 style="color:#deba57" class="mb-3"><i class="fa fa-check-circle  me-3"></i>En İyi Kalite</h5>
                        <h5 style="color:#deba57" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Profesyonel Ekip</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <h5 style="color:#deba57" class="mb-3"><i class="fa fa-check-circle  me-3"></i>24/7 İletişim</h5>
                        <h5 style="color:#deba57" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Uygun Fiyatlar</h5>
                    </div>
                </div>
                @Html.ActionLink("Hemen Randevu Alın","Contact","Home",null,new {@class = "btn btn-primary py-3 px-5 mt-4 wow zoomIn" })
                @*<a href="appointment.html" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"  data-wow-delay="0.6s">Hemen Randevu Alın</a>*@
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/source/img/services-hair.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Offer Start -->
<div style="color:#deba57" class="container-fluid bg-offer my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div  class="container py-5">
        <div  class="row justify-content-center">
            <div  class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                <div style="background-color:#deba57" class="offer-text text-center rounded p-5">
                    <h1 class="display-5">Fiyat Bilgisi Almak İçin Hemen Arayın</h1>
                    <h3 class="text-white mb-4">+90 530 134 75 77</h3>
                    <a href="@Url.Action("Contact","Home")" class="btn btn-secondary py-3 px-5 me-3">Bize Ulaşın</a>
                    <a href="https://wa.me/905301347577" class="btn btn-secondary py-3 px-5">Canlı Destek</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- New Start-->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 style="color:white!important" class="position-relative d-inline-block text-primary text-uppercase">Protez Saç Mı ? Saç Ekimi Mi ?</h5>
                    <h1 style="color:#deba57" class="display-5 mb-0">Hızlı Çözüm Ve Doğal Görünüm </h1>
                </div>
                <h4 style="color:#a1ada4 !important" class="text-body fst-italic mb-4">
                    Protez saç, hızlı ve özelleştirilebilir bir çözüm sunarak saç ekiminin pahalılığına ve belirsiz sonuçlarına ideal bir alternatiftir.
                </h4>
                <p style="color:white" class="mb-4">Protez saç, saç ekimine kıyasla daha hızlı sonuçlar sunar ve doğal saç görünümü elde etmek için ideal bir çözüm olabilir. Saç ekimi genellikle pahalıdır, belirli bir iyileşme süreci gerektirir ve istenen sonuçların garantisi yoktur. Öte yandan, protez saç, bireyin ihtiyaçlarına ve tercihlerine uygun olarak özelleştirilebilir, estetik olarak tatmin edici sonuçlar sunar ve saçsızlık sorununu anında çözer. Özellikle geniş saçsız alanlarda veya saç ekiminin mümkün olmadığı durumlarda, protez saç mükemmel bir alternatif olabilir.</p>
                @Html.ActionLink("Daha Fazla Bilgi Alın","Contact","Home",null,new {@class = "btn btn-primary py-3 px-5 mt-4 wow zoomIn" })
                @*<a href="appointment.html" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"  data-wow-delay="0.6s">Hemen Randevu Alın</a>*@
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/source/img/carouselTest.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New End-->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 style="color:white!important" class="position-relative d-inline-block text-primary text-uppercase">Öncesi & Sonrası</h5>
                    <h1 style="color:#deba57" class="display-5 mb-0">Hair House Müşteri Memnuniyetini Esas Alır</h1>
                </div>
                <p style="color:white" class="mb-4">Müşterilerimizin önceki ve sonraki hallerini yana kaydırarak inceleyebilirsiniz</p>
                <h5 style="color:white!important" class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Randevu İçin Arayın</h5>
                <h1 style="color:#deba57" st class="wow fadeInUp" data-wow-delay="0.6s">+90 530 134 75 77</h1>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    <div style="background-color:#deba57;border:5px solid #deba57 " class="price-item pb-4">
                        <div class="position-relative">
                            <img class="img-fluid rounded-top" src="~/source/img/bf-resim-2.png" alt="">
                        </div>
                        <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                            <hr class="text-primary w-50 mx-auto mt-0">
                            <div class="d-flex justify-content-between mb-2"><span>Uzun Ömürlü Kullanım Garantisi</span><i class="fa fa-check text-primary pt-1"></i></div>
                            <a target="_blank" href="https://wa.me/905301347577" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Randevu Al</a>
                        </div>
                    </div>
                    <div style="background-color:#deba57;border:5px solid #deba57 " class="price-item pb-4">
                        <div class="position-relative">
                            <img class="img-fluid rounded-top" src="~/source/img/bf-resim-3.png" alt="">
                        </div>
                        <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                            <hr class="text-primary w-50 mx-auto mt-0">
                            <div class="d-flex justify-content-between mb-2"><span>Uzun Ömürlü Kullanım Garantisi</span><i class="fa fa-check text-primary pt-1"></i></div>
                            <a target="_blank" href="https://wa.me/905301347577" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Randevu Al</a>
                        </div>
                    </div>
                    <div style="background-color:#deba57;border:5px solid #deba57 " class="price-item pb-4">
                        <div class="position-relative">
                            <img class="img-fluid rounded-top" src="~/source/img/bf-resim-4.png" alt="">
                        </div>
                        <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                            <hr class="text-primary w-50 mx-auto mt-0">
                            <div class="d-flex justify-content-between mb-2"><span>Uzun Ömürlü Kullanım Garantisi</span><i class="fa fa-check text-primary pt-1"></i></div>
                            <a target="_blank" href="https://wa.me/905301347577" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Randevu Al</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



